
body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 20px auto;
}

input, select, button {
  margin: 5px;
  padding: 5px;
}

.tx-amount.positive {
  color: green;
}

.tx-amount.negative {
  color: red;
}

.tx-left {
  display: inline-block;
  width: 70%;
}

.tx-amount {
  display: inline-block;
  width: 20%;
  text-align: right;
}

ul#txList {
  list-style-type: none;
  padding: 0;
}
